.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

h2 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  font-size: 50px;
  
  
}

.weather-data {
  display: flex;
  background-color: rgba(240, 248, 255, 0.364);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  border-radius: 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.location {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.temperature {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.description {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.icon {
  font-size: 6em;
  margin-bottom: 0.5em;
}

.humidity, .wind {
  margin-top: 1em;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
  }

  .temperature {
    font-size: 2.5em;
  }

  .icon {
    font-size: 2em;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 50px;
}

.save-button {
  font-size: 1rem;
  padding: 10px;
  padding-left: 10px;
  background-color: #006eff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
  height: 40px;
}

.search-button{
  font-size: 1rem;
  padding: 10px;
  padding-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
  height: 40px;
}

.dropdown-button {

  font-size: 1rem;
  padding: 10px;
  padding-left: 10px;
  background-color: #ffae00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
  height: 40px;
}

.save-button:hover {
  background-color: #074ba4;
}

.button-group {
  display: flex;
}

.dropdown-button:hover {
  background-color: #c1740f;
}

.search-button:hover{
  background-color: #3e8e41;
}

@media screen and (max-width: 480px) {
  .search-input {
    width: 200px;
    
  }
}
.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  margin: 0 auto;
}


.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.forecast-item {
  flex-basis: calc(20% - 1rem);
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.532);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgb(0, 0, 0);
  text-align: center;
}

#temperature-chart {
  width: 100%;
  max-width: 1200px; /* Adjust this value as needed */
  margin: 1rem auto;
}


.forecast-day {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.forecast-icon {
  margin-bottom: 0.5rem;
}

.forecast-temperature {
  font-size: 1.2rem;
}


.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.toggle span {
  font-size: 14px;
  margin: 0 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4caf50;;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.search-container {
  display: flex;
  align-items: center;
}

.favorite-locations-container {
  margin-left: 1rem;
}

.fivedayforecast{
  display: flex;
  background-color: rgba(5, 5, 5, 0.575);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  margin: 100px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

